
.form-subtitle{
	color: #2d62a5;
	margin-bottom: 25px;
	margin-left: 12px;
}

#dataTable{
	width: 100% !important;
}
table.dataTable thead>tr>th {
	font-size: 12px;
}

.nav-main a.nav-submenu:before {
	content: "\f105";
}